{% extends 'base.html.twig' %}

{% block title %}Weather Forecast System{% endblock %}

{% block body %}
    <h1>Weather Forecast System</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis distinctio, dolore dolores dolorum esse facere, facilis inventore itaque odit quam reiciendis unde voluptas. Distinctio eveniet incidunt iusto nemo nisi possimus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis dignissimos error explicabo impedit nesciunt nulla quis, reiciendis suscipit tempora vitae voluptate. Ea esse eum fuga inventore labore perspiciatis veniam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda corporis dolore eius eum exercitationem fugiat iure magnam nobis perferendis praesentium quasi qui repudiandae, saepe temporibus, totam unde velit voluptatibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur culpa cum debitis dignissimos dolor, ducimus, ea enim iure labore minus molestiae necessitatibus neque nihil nulla odio porro quasi totam vel!</p>
{% endblock %}
