{% extends 'layout_boxed.html.twig' %}

{% block content %}

    <p>{{ highlander.generateWeatherForecasts | first }}</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aliquam excepturi exercitationem expedita fuga
        impedit porro quis quos sapiente, tempora temporibus totam unde vel voluptas voluptate voluptatum. Aperiam,
        harum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque non perferendis quis voluptatum.
        Aliquam aspernatur eligendi eos eum iure minus molestiae quos sed veniam voluptatibus! Eaque iusto placeat
        totam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at dolorum ea eos harum illo illum inventore
        iusto labore nam nesciunt odio officiis omnis quos recusandae repellendus soluta, tempora. Eos!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam asperiores dolore eaque error
        exercitationem facere inventore, itaque minus natus nisi, placeat praesentium quisquam sequi tempore tenetur
        ullam voluptate voluptatem?</p>
{% endblock %}
