{% extends 'layout_boxed.html.twig' %}

{% block content %}
    {% set name = app.request.get('name') %}

    {% if name %}
        <div>Hello <strong>{{ name }}</strong>!</div>
    {% else %}
        <div>Enter your name:</div>
    {% endif %}
    <form>
        <input type="text" name="name" value="{{ name }}">
    </form>
{% endblock %}
